
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    background-color: white;
   
  }
  
  h1 {
    color: rgb(69, 184, 164);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    text-shadow: 2px 4px 4px rgb(47, 89, 105);
  }
  
  ul .list-item, .list-title {
    list-style: none;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.104);
    background:rgb(69, 184, 164);
  }
  
  p {
    padding: 10px;
    background: rgb(69, 184, 164);
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  input {
    border: none;
    width: 100%;
  }
  
  .ocultar {
    visibility: hidden;
    margin-left: 5%;
    color: rgb(69, 184, 164);
    background-color: aliceblue;
  }
  
  .ocultar:hover {
    visibility: hidden;
    margin-left: 5%;
    color: rgb(0, 255, 255);
    background-color: black;
  }
  
  li:hover * {
    visibility: visible;
  }
  .task-count {
    margin-top: 10px;
    font-size: 14px;
  }
  